<div id="navigation">
    <ul>
        <li><a href="/">정신후</a></li>
        <li><a href="/guestbook/list">방명록</a></li>
        <li><a href="/guestbook/spa">방명록[SPA]</a></li>
        <li><a href="/board/1">게시판</a></li>
        <li><a href="/gallery">갤러리</a></li>
    </ul>
</div>